/* .main-container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.job-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */